export("hbaseTable", "hbaseScan", "hbaseScan2", "hbaseGet", "hbasePut", "hbaseDelete")
import(rJava)

importFrom("methods", show)

exportMethods(
    "fetch",
    "show"
)
exportClasses(
    "hbaseTable",
    "hbaseScan",
    "hbaseScan2",
    "hbaseGet"
)
